h1{color: blue;
     font-family: 'Courier New';
    text-align: center;
    font-size: 60px   }

.apellido{font-size: 40px;
            }
.uno{font-size: 30px;
     font-family: Verdana;
    font-weight: 300 ;
  }
p{font-weight: 400;
color: black;
}

